<header>
    <h1>{{title}}</h1>
</header>
<div>
    <abbr title="localhost:3000"><a href="/">weather </a></abbr>
    <abbr title="localhost:3000/help"><a href="/help">help</a></abbr>
    <abbr title="localhost:3000/about"><a href="/about">about</a></abbr>
</div>
<style>
    header h1{
        font-size: 50px;
        margin-bottom: 30px;
    }
    div{
        margin-bottom: 20px;
    }
    a{
        text-decoration: none;
        color: grey;
    }
    abbr{
        text-decoration: none;
    }
</style>
