<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="/image/b.png">
    <title>about</title>
    <link rel="stylesheet" href="/style/style1.css">
</head>
<body>
    <div class="main_container">
        {{>header}}
        <p>This site has created by {{name}}. It uses data form mapbox.com and weatherstack.com</p>
        <img src="/image/me.jpg" alt="creaters picture" width="200px">
    </div>
    
    {{>footer}}
</body>
</html>