<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="/image/b.png">
    <title>about</title>
    <link rel="stylesheet" href="/style/style1.css">
</head>
<body>
    <div class="main_container">
        {{>header}}
        <p>created by {{name}}</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima numquam minus quidem voluptate voluptas perspiciatis laboriosam impedit voluptatibus facere voluptates ea, labore et sapiente necessitatibus, adipisci pariatur similique quis sit!</p>
    </div>
    
    {{>footer}}
</body>
</html>