<!DOCTYPE html>
<html>
    <link rel="icon" href="/image/b.png">
     <link rel="stylesheet" href="/style/style1.css">
     <title>error</title>
<head>
</head>
<body>
    <h1>404</h1>
    <p>{{error}}</p>
</body>
</html>