<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="/image/b.png">
     <link rel="stylesheet" href="/style/style1.css">
     <title>help</title>
</head>
<body>
    <div class="main_container">
        {{>header}}
        <p>{{contact}}</p>
        <p>{{helpLine}}</p>
    </div>
    
    {{>footer}}
</body>
</html>