<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="/image/b.png">
    <title>weather</title>
    <link rel="stylesheet" href="/style/style1.css">
</head>
<body>
    <div class="main_container">
        {{>header}}
    <p>my name is {{name}}</p>
    <form action="">
        <input type="text" placeholder="location">
        <button>search</button>
    </form>
    <p id="p1"></p>
    </div>
    
    {{>footer}}
    <script src="/js/app.js"></script>
</body>
</html>